.markothedev-anime-container{
    display: block;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;  
    position: fixed;
    background-color : rgba(0, 0, 0, 0.479);
    z-index: 20;
    top: 0;
    opacity: 1;
}

.markothedev-anime-container.remove{
    opacity: 0;
    z-index: 1;
    display: none;

}
.myball,.secound_myball{
    height: 100px;
    width: 100px;
    background: linear-gradient(#cc2b5e,#753a88);
        border-radius: 50%;
        /*animation: b 1.2s ease infinite;*/
        animation: b 1.2s ease alternate-reverse infinite;
}
/* .secound_myball{
    animation-delay: 1s;
    background: linear-gradient(#42275a,#734b6d);

} */

@keyframes b {
    0%{
        transform: scale(0);opacity: 1;
    }5%{
        transform: scale(.9);
    }
    50%{

    }
    100%{
        transform: scale(6);
        opacity: 0;

    }
}