{% extends 'base.html' %}
{% load static %}



{% block title %}
      Create BlogPost
{% endblock title %}






{% block content %}
<div class="container">
    <form action="#" class="p-5 bg-light" id="createPostForm">

<!-- 
                <div class="form-group">
                <label for="name">Category *</label>
                <input type="text" class="form-control" id="category">
                </div> -->
                <p>Categories **</p>
                <select class="form-select" id="category" style="width: 100%; padding:1rem .8rem" required>
                    <option value="Politics">Politics</option>
                    <option value="Tech">Tech</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Travel">Travel</option>
                    <option value="Sports">Sports</option>
 
                    <!-- the rest wiil be handled with javascript -->
                </select>
                  <br><br>
                <div class="form-group">
                    <label for="authorName">Author *</label>
                    <input type="text" class="form-control" id="authorName" disabled>
                </div>

                <div class="form-group">
                    <label for="title">Title *</label>
                    <input type="title" class="form-control" id="title" required>
                </div>
                
<br>

 <br>
                <div class="form-group">
                    <label for="introPics">intro picture *</label>
                    <input type="file" class="form-control" id="introPics" required>
                </div>

                <div class="form-group">
                    <label for="contentHeader">contentHeader picture *</label>
                    <input type="file" class="form-control" id="contentHeader" required>
                </div>

                <div class="form-group">
                    <label for="extrapics">extrapics picture *</label>
                    <input type="file" class="form-control" id="extrapics" required>
                </div>



                <div class="form-group">
                    <label for="message">Blog post first paragraph</label>
                    <textarea name="" id="blogpost1" cols="30" rows="10" class="form-control" required></textarea>
                </div>


                <div class="form-group">
                    <label for="message">Blog post second paragraph-- Optional</label>
                    <textarea name="" id="blogpost2" cols="30" rows="10" class="form-control" ></textarea>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Post Comment" id="updatePost" class="btn btn-primary">
                </div>

                
        </form>
</div>
{% endblock content %}

{% block js %}
    
{% include './partials/csrftoken.html' %}


<script>
   

      


    class CreatePost{

            constructor(categoryID,authorNameID,titleID,introPicsID,contentHeaderID,extrapicsID,blogpost1ID,blogpost2ID){
                this.category = document.querySelector(categoryID)
                this.authorName = document.querySelector(authorNameID)
                this.title = document.querySelector(titleID)
                this.introPics = document.querySelector(introPicsID)
                this.contentHeader = document.querySelector(contentHeaderID)
                this.extrapics = document.querySelector(extrapicsID)
                this.blogpost1 = document.querySelector(blogpost1ID)
                this.blogpost2 = document.querySelector(blogpost2ID)
                
            }

    
            getAndsetFormData(){
            //this sets and return a form data for us to send to the backend
                let  formData = new FormData()
                
                formData.append('category',this.category.value)
                formData.append('title',this.title.value)
                formData.append('blogPost',this.blogpost1.value)
 
                formData.append('blogPost2',this.blogpost2.value)

                //this basically mean if the user put in a data then the lenght will be above 0
                //if it true append the file
                //else just return empty string
                this.extrapics.files.length !== 0 ? formData.append('extrapics',this.extrapics.files[0]) :''
                this.contentHeader.files.length !== 0 ? formData.append('contentHeader',this.contentHeader.files[0]) :''
                this.introPics.files.length !== 0 ? formData.append('introPics',this.introPics.files[0]) :''
                
                
                
                
            

                return formData

            }
            
          


        async sendDatatoBackend(url,formData){

            let resp = await fetch(url, {
              method: 'POST',
              headers: {
           
                'Authorization':`Token ${JSON.parse(sessionStorage.getItem('userToken'))}`
              },
              body: formData,
            })

            let respData = await resp.json()

            return respData
        }

    }











createpost = new CreatePost(
    '#category','#authorName',"#title",'#introPics',
    '#contentHeader','#extrapics','#blogpost1','#blogpost2'
)




let createPostForm = document.querySelector('#createPostForm')
createPostForm.addEventListener('submit',e=>{
        e.preventDefault()


        
    animeBox.classList.add('remove')
      
        createpost.sendDatatoBackend(`/api/blog/blog/`,createpost.getAndsetFormData())
        .then(data=>{
    animeBox.classList.add('remove')

//            console.log(data);
            location.href = "{% url 'list-of-all-blogpost' %}"
        })
       
})

</script>


{% endblock js %}

