{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!--===============================================================================================-->	
	<!-- <link rel="icon" type="image/png" href="{% static 'login_staticfiles/images/icons/favicon.ico' %}"/> -->
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'login_staticfiles/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_staticfiles/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_staticfiles/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_staticfiles/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login_staticfiles/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_staticfiles/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_staticfiles/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login_staticfiles/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_staticfiles/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_staticfiles/css/main.css' %}">

	<style>
		.message{
			color:  red;
		}
	</style>
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" id="loginForm">
					<span class="login100-form-title p-b-43">
						Enter A valid Email
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" id="email">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
						<p class="message"></p>

						
					</div>
					
					<br><br>
					
					<div class="flex-sb-m w-full p-t-3 p-b-32">
						
						<div>
							<a href="{% url 'create-acct' %}">
								Don't Have an account
							</a>
						</div>


                        <div>
							<a href="{% url 'frontend_login' %}">
								Login To Your Account
							</a>
						</div>

					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" id="loginBtn">
							Submit
						</button>
					</div>
					
					
				</form>

				<div class="login100-more" style="background-image: url('{% static 'login_staticfiles/images/bg-01.jpg' %}');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
	{% include './partials/csrftoken.html' %}


	<script>
		const loginUrl = '{% url "frontend_login" %}'
		const email_Input = document.querySelector('#email')
		

		function sendErrorToUi(inputID,message){
			//input represents the html input filed
			let input = document.querySelector(inputID)
			// so we will get the exact form group 
			let formGroup = input.parentElement
			
	
			formGroup.querySelector('.message').innerText = message;
		}

		let sendEmail = async (data)=>{

			const	resp = await fetch("{%  url 'ForgotPasswordApiView' %}", {
					method: 'POST', // or 'PUT'
					headers: {
					  'Content-Type': 'application/json',
					  'X-CSRFToken':csrftoken
					},
					body: JSON.stringify(data),
				  })
			const respData = await resp.json()
	
			return {
				respData,
				statusCode:resp.status,
			}
				  
			}
	
		
		document.querySelector('#loginBtn').addEventListener('click',(e)=>{
			e.preventDefault();

			sendEmail({'email':email_Input.value})
			.then(data=>{
				console.log(data.respData,data.respData.error)
				if(data.respData.error){
					sendErrorToUi('#email',data.respData.error)
				}

				else if(data.respData.success){
					sendErrorToUi('#email',data.respData.success)
					location.href = "{% url 'passwordConfirm' %}"
				}

			})

		})

	</script>





</body>
</html>