{% extends 'base.html' %}
{% load static %}



{% block title %}
        Mini Blog
{% endblock title %}



{% block extraCss %}
      

<style>

    

        
  .prev[data-prev='null']{
    visibility: hidden;
  }
  .prev:not([data-prev='null']){
 
    visibility: visible;
  }
  
  .next[data-next='null']{
    visibility: hidden;
  }
  .next:not([data-next='null']){
 
    visibility: visible;
  }



</style>

{% endblock extraCss %}







{% block content %}
  
      <!-- start of recent post -->
      <div class="site-section">
        <div class="container">
          <div class="row mb-5">
          <div class="col-12">
          <h2>All Posts</h2>
          </div>
          </div>
          <div class="row" id="allPostContainer">
                      <!--will be filled with js  -->
          </div>
          <!-- <br><br> -->
          <!-- pagination -->
          <div class="row text-center pt-5 border-top">
          <div class="col-md-12">
          <div class="custom-pagination">
          <!-- <span>1</span> -->
          
          <a href="" id="prev" class="prev">Prev</a>
          <a href="" id="next"  class="next">Next</a>
          

          <!-- <button>></button> -->
          </div>
          </div>
          </div>
          </div>
      </div>
<!-- end of recent blog section -->


  <div class="site-section bg-light">
      <div class="container">
        <div class="row align-items-stretch retro-layout">
            <div class="col-md-5 order-md-2">
            <a href="{% url 'blogcategories' 'Politics' %}" class="hentry img-1 h-100 gradient" style="background-image:url({% static 'images/politics.jpg' %})">
            <span class="post-category text-white bg-danger">Politics</span>
            <div class="text">
            <h2>Get Your self Up and Runnig with what is Currently Going on In the World Of Politics</h2>
            <!-- <span>February 12, 2019</span> -->
            </div>
            </a>
            </div>


            <div class="col-md-7">
                  <a href="{% url 'blogcategories' 'Tech' %}" class="hentry img-2 v-height mb30 gradient" style="background-image:url({% static 'images/tech.jpg' %})">
                    <span class="post-category text-white bg-success">Tech</span>
                    <div class="text text-sm">
                    <h2>Learn,build and Stay Updated In the World Of Tech...</h2>
                    <!-- <span>February 12, 2019</span> -->
                    </div>
                  </a>
                  <a href="{% url 'blogcategories' 'Travel' %}" class="hentry img-2 v-height mb30 gradient" style="background-image:url({% static 'images/travel.jpg' %})">
                    <span class="post-category text-white bg-success">Travel</span>
                    <div class="text text-sm">
                    <h2>Read All Travel Related Post And Expirence The Green Mother Of Earth</h2>
                    <!-- <span>February 12, 2019</span> -->
                    </div>
                  </a>
                <div class="two-col d-block d-md-flex">
                <a href="{% url 'blogcategories' 'Sports' %}" class="hentry v-height img-2 gradient" style="background-image:url({% static 'images/sports.jpg' %})">
                <span class="post-category text-white bg-primary">Sports</span>
                <div class="text text-sm">
                <h2>Yes Every Human Loves Sport But being Updated Is another Ball Game</h2>
                <!-- <span>February 12, 2019</span> -->
                </div>
                </a>
                <a href="{% url 'blogcategories' 'Entertainment' %}" class="hentry v-height img-2 ml-auto gradient" style="background-image:url({% static 'images/entertainment.jpg' %})">
                <span class="post-category text-white bg-warning">Entertainment</span>
                <div class="text text-sm">
                <h2>Dont! just stay there Thinking you have seen it all Come See More Here!</h2>
                <!-- <span>February 12, 2019</span> -->
                </div>
                </a>
                </div>
            </div>
        </div>
      </div>
  </div>

               
{% endblock content %}


  


{% block js %}


<script>
  
  const urlTogetBlogPost = '/api/blog/blog/'
</script>
           
<script src="{% static 'apijs/index.js' %}"></script>
{% endblock js %}
