{% extends 'base.html' %}
{% load static %}



{% block title %}
      Blog Detail
{% endblock title %}


{% block extraCss %}

  <style>
  .updateCommentForm.remove{
      display: none;

  }
  .updateCommentForm{
    display: flex;
    flex-direction:row;
    margin-top: 8% ;

  }
  
  @media screen and (max-width:360px) {
    .updateCommentForm{
      flex-direction: column;
      
      }
  }


  </style>

{% endblock extraCss %}





{% block content %}



<div class="site-cover site-cover-sm same-height overlay single-page" id="blogDetailhero_image" style="background-image: url();">
<div class="container">
      <div class="row same-height justify-content-center">
      <div class="col-md-1 col-lg-10">
      <div class="post-entry text-center">
      <!-- <span class="post-category text-white bg-success mb-3" id="hero_section_categorie">
        javascripts will handle the content
      </span> -->
      <h1 class="mb-4" id="title" >
        <!-- this is dynamically created by javascri0pts -->
      </h1>
      <div class="post-meta align-items-center text-center">
      <figure class="author-figure mb-0 mr-3 d-inline-block"><img id="hero_section_authorImage" src="" alt="Author Image" class="img-fluid"></figure>
      <span>By</span>
      <span class="d-inline-block mt-1" id="hero_section_authorName">
        <!-- javascripts will handle the content -->
      </span>
      <span>&nbsp;-&nbsp;</span>
      <span id="hero_section_Datecreated"></span>
      </div>
      </div>
      </div>
      </div>
</div>
</div>


<section class="site-section py-lg">
    <div class="container">
    <div class="row blog-entries element-animate">
    <div class="col-md-12 col-lg-8 main-content">
    <div class="post-content-body" id="mainBlogDetails">
            <!-- this scection will be fiilled by javascript -- check blog-details.js for more info -->
    </div>

    <div class="pt-5"  id="edit-post-link-Container">
      <button  data-blogID="{{ pk }}" id="deletePost" class="bg-danger btn remove" style="color: white;">Delete</button>
      <a data-blogID="{{ pk }}" id="updatePost" href="{% url 'update-blog' pk %}" class="bg-success btn remove" style="color: white;">Update</a>
    </div>

    <div class="pt-5">
        <!-- start of count how many comments exits -->
        <h3 class="mb-5" id="noOfComments">
          <!-- filled with javascript -->
        </h3>
        <!-- end of count how many comments exits -->


        <!-- star list of comments -->
        <ul class="comment-list" id="commentListContainer">
          <!-- will be created with js -->
          <!-- <li class="comment">
            <div class="vcard">
            <img src="images/xperson_1.jpg.pagespeed.ic.yYek0ClmEN.jpg" alt="Image placeholder">
            </div>
            <div class="comment-body">
            <h3>Jean Doe</h3>
            <div class="meta">January 9, 2018 at 2:21pm</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
            <p><a href="#" class="reply rounded">Reply</a></p>
            </div>
                <ul class="children">
                    <li class="comment">
                      <div class="vcard">
                      <img src="images/xperson_1.jpg.pagespeed.ic.yYek0ClmEN.jpg" alt="Image placeholder">
                      </div>
                      <div class="comment-body">
                      <h3>Jean Doe</h3>
                      <div class="meta">January 9, 2018 at 2:21pm</div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                      <p><a href="#" class="reply rounded">Reply</a></p>
                      </div>
                  
                    </li>
                </ul>
            </li> -->

        </ul>
        <!-- end list of comments -->


      <!-- start create comment form section -->
        <div class="comment-form-wrap pt-5" id="createCommentWrapper">
          <!-- generated by js if u are a user or lgged in user -->
          
        </div>
      <!-- end create comment form section -->


    </div>
    </div>

    <div class="col-md-12 col-lg-4 sidebar">
    <div class="sidebar-box search-form-wrap">
    <form action="#" class="search-form">
    <div class="form-group">
    <span class="icon fa fa-search"></span>
    <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
    </div>
    </form>
    </div>

    <div class="sidebar-box" id="userBioContainer">
        
    </div>

  

   
 
    </div>

    </div>
    </div>
</section>






           
{% endblock content %}

{% block js %}

{% include './partials/csrftoken.html' %}

           <script >
             //this is the current blog primary key with this key we can asscess the the blog detail
             const blogId = "{{ pk }}"
             const listOfAllBlogPOSTURL = "{% url 'list-of-all-blogpost' %}"
           </script>


           <script src="{% static 'apijs/authentication.js' %}"></script>
           <script src="{% static 'apijs/blog-details.js' %}"></script>
           <script src="{% static 'apijs/comment.js' %}"></script>
{% endblock js %}


  
